<h1>New Dojo</h1>
<form action='/dojos' method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
    <Label>Branch:</Label>
    <input type="text" name="branch">

    <br>
    <Label>Street:</Label>
    <input type="text" name="street">
    <br>
    <Label>City:</Label>
    <input type="text" name="city">

    <br>

    <Label>State:</Label>
    <input type="text" name="state">

    <br>

    <input type="Submit" value="Create Dojo">

</form>